html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-header {
  grid-column-start: 1;
  grid-column-end: 6;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#image-cadre {
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #a7c0ff 0%, #6db2ff 100%);
}

.project-card-homepage:hover {
  border: #6db2ff 1px solid;
}

@media screen and (max-width: 1000px) {
  .navbar-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
