html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-header {
  grid-column-start: 1;
  grid-column-end: 6;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#image-cadre {
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #a7c0ff 0%, #6db2ff 100%);
}

.project-card-homepage:hover {
  border: #6db2ff 1px solid;
}

@media screen and (max-width: 1000px) {
  .navbar-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #eceef1; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #25313a; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid #293640; /* creates padding around scroll thumb */
}
.scrollbar::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: #eceef1; /* color of the tracking area */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #25313a; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid #293640; /* creates padding around scroll thumb */
}
/* 
.blogPost h1 {
  font-size: 58px;
  color: #CFE4FF;
}
.blogPost h2 {
  font-size: 40px;
  font-family: 'Sen';
  width:100%;
}

.blogPost h3 {
  font-size: 32px;
  font-family: 'Sen';
  width:100%;
}

.blogPost h4 {
  font-size: 28px;
  font-family: 'Sen';
  width:100%
}

.blogPost h5 {
  font-size: 26px;
  font-family: 'Sen';
  width:100%
}



/* .blogPost:a {
} */ 

.blogPost p,.blogPost li ,.blogPost , .blogPost h1,.blogPost h2 ,.blogPost h3 ,.blogPost h4  {
  font-family: 'Sen';
  width:100%
}
